<div class="modal fade" id="designmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Design Goals</h4>
      </div>
      <div class="modal-body">
        <ul>
					<li>Create a nice place where the NS2 community can assemble and have fun</li>
					<li>Create an efficient, easy-to-use and flexible system to create NS2 gathers</li>
					<li>Support the modern web and meet modern expectactions (e.g. realtime, phone &amp; tablet screens)</li>
				</ul>
				<p>If you want to improve it 
					<a href="https://github.com/cblanc/sws_gathers" target="_blank">click here to visit the repository</a>
				</p>
				<p>That is all.</p>
				<p><strong>Have fun and be excellent to each other.</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="adminmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Administration Panel</h4>
      </div>
      <div class="modal-body" id="admin-menu">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/app.js"></script>
<script>
$(function () { initialiseComponents();	});
</script>