<div class="modal fade" id="adminmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Administration Panel</h4>
      </div>
      <div class="modal-body" id="admin-menu">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="profilemodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Profile</h4>
      </div>
      <div class="modal-body" id="profile-panel">
      </div>
    </div>
  </div>
</div>

<script src="/js/app.js"></script>
<script>
$(function () { initialiseComponents();	});
</script>