<div class="modal fade" id="designmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Design Goals</h4>
      </div>
      <div class="modal-body">
        <p>This app is made to promote 3 things</p>
        <ul>
					<li>Create a nice place where the NS2 community can assemble and have fun</li>
					<li>Create an efficient, easy-to-use and flexible system to create NS2 gathers</li>
					<li>Support the modern web and meet modern expectactions (e.g. realtime, phone &amp; tablet screens)</li>
				</ul>
				<p>If you want to improve it 
					<a href="https://github.com/cblanc/sws_gathers" target="_blank">click here to visit the repository</a>
				</p>
				<p>That is all.</p>
				<p><strong>Have fun and be excellent to each other.</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">ENSL.org Gathers</a>
	</div>

	<ul class="nav navbar-top-links navbar-right">
		<li>
		 	<a href="#" data-toggle="modal" data-target="#designmodal">Design Goals</a>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-user fa-fw"></i>  Settings <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li><a href="#"><i class="fa fa-gear fa-fw"></i> Profile</a>
				</li>
				<li><a href="#"><i class="fa fa-flag fa-fw"></i> Notifications</a>
				</li>
				<li><a href="#"><i class="fa fa-music fa-fw"></i> Sounds</a>
				</li>
				<li class="divider"></li>
				<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
				</li>
			</ul>
		</li>
		<li id="currentuser">
		 	
		</li>
	</ul>

	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu"></ul>
		</div>
	</div>
</nav>