<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">ENSL.org Gathers <strong>Alpha</strong></a>
	</div>

  <ul class="nav navbar-top-links navbar-right" id="currentuser">
  </ul>
  <ul class="nav navbar-top-links navbar-right" id="soundcontroller">
  </ul>

	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu"></ul>
		</div>
	</div>
</nav>