<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">ENSL.org Gathers <strong>Alpha</strong></a>
	</div>
  <ul class="nav navbar-top-links navbar-right" id="currentuser">
  </ul>
  <ul class="nav navbar-top-links navbar-right" id="soundcontroller">
  </ul>
  <ul class="nav navbar-top-links navbar-right">
	  <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				Info &nbsp;<i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="https://github.com/cblanc/sws_gathers" target="_blank">
						Github&nbsp;<i class="fa fa-github">&nbsp;</i>
					</a>
				</li>
				<li>
					<a href={{bot_url}} target="_blank">
						Steam Bot&nbsp;<i class="fa fa-external-link">&nbsp;</i>
					</a>
				</li>
				<li>
					<a href={{rules_url}} target="_blank">
						Gather Rules&nbsp;<i class="fa fa-external-link">&nbsp;</i>
					</a>
				</li>
			</ul>
		</li>
  </ul>
</nav>
