<div id="app-body">
	<div>
		<div style="minHeight:750px">
			<div className="container-fluid">
				<div className="row" id="authenticating">
					<div className="col-lg-6 col-lg-offset-3">
						<div className="add-top jumbotron jumbo-auth text-center">
							<div>
								<img src="/ensl_logo.png" className="jumbo-img" alt="ENSL Logo" />
							</div>
							<br />
							<h3>The Gather page is currently "recompiling frontend assets" which can take up to 45 seconds. <br />Please bear with us and refresh the page once in a while</h3>
							<br />
							<div>
								<img src="/spinner.svg" className="spinner" alt="Loading" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{>foot}}
