<div id="wrapper">
	{{>menu}}
	<div id="page-wrapper" style="min-height: 750px;">
		<div class="container-fluid">
			<div class="row" id="authenticating">
				<div class="col-lg-6 col-lg-offset-3">
					<div class="jumbotron jumbo-auth text-center">
						<div>
							<img src="/images/ensl_logo.png" class="jumbo-img" alt="ENSL Logo" />
						</div>
						<br />
						<h3>Authenticating your ENSL account</h3>
						<br />
						<div>
							<img src="/images/spinner.svg" class="spinner" alt="Loading" />
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="auth-required" style="display:none;">
				<div class="col-lg-6 col-lg-offset-3">
					<div class="jumbotron jumbo-auth text-center">
						<div>
							<img src="/images/ensl_logo.png" alt="ENSL Logo" />
						</div>
						<h3>You need to be logged to the ENSL website to access gathers</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6" id="gatherCounter">
				</div>
	    </div>
			<div class="row">
				<div class="col-lg-6" id="gathers"></div>	
				<div class="col-lg-6" id="chatroom"></div>
			</div>
		</div>
	</div>	
</div>
{{>foot}}
