<div id="wrapper">
	{{>menu}}
	<div style="min-height: 750px;">
		<div class="container-fluid">
			<div class="row" id="authenticating">
				<div class="col-lg-6 col-lg-offset-3">
					<div class="add-top jumbotron jumbo-auth text-center">
						<div>
							<img src="/images/ensl_logo.png" class="jumbo-img" alt="ENSL Logo" />
						</div>
						<br />
						<h3>Authenticating your ENSL account</h3>
						<br />
						<div>
							<img src="/images/spinner.svg" class="spinner" alt="Loading" />
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="gather-banned" style="display:none;">
				<div class="col-lg-6 col-lg-offset-3">
					<div class="add-top jumbotron jumbo-auth text-center">
						<div>
							<img src="/images/ensl_logo.png" alt="ENSL Logo" />
						</div>
						<h3>You're currently barred from joining gathers</h3>
						<h3><small>Either wait for the ban to expire or talk to an admin to get it lifted</small></h3>
						<br />
					  <p><a class="btn btn-primary btn-lg" href="{{ redirect }}" role="button">See the ban list</a></p>
					</div>
				</div>
			</div>
			<div class="row" id="auth-required" style="display:none;">
				<div class="col-lg-6 col-lg-offset-3">
					<div class="add-top jumbotron jumbo-auth text-center">
						<div>
							<img src="/images/ensl_logo.png" alt="ENSL Logo" />
						</div>
						<h3>You need to be logged in to the ENSL website ({{ redirect }}) to access gathers</h3>
						<h3><small>If this error persists please contact an admin to fix it</small></h3>
						<br />
					  <p><a class="btn btn-primary btn-lg" href="{{ redirect }}" role="button">Go to website</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 hidden-xs">
					<ul class="nav" id="side-menu"></ul>
				</div>
				<div class="col-md-6" id="gathers"></div>	
				<div class="col-md-4" id="chatroom"></div>
			</div>
		</div>
	</div>	
</div>
{{>foot}}
