<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<div class="jumbotron text-center">
				<div>
					<img src="/ensl_logo.png" alt="ENSL Logo" />
				</div>
				<h2>You need to be logged in to the ENSL website ({{ redirect }}) to access gathers</h2>
				<br />
			  <p><a class="btn btn-primary btn-lg" href="{{ redirect }}" role="button">Go to website</a></p>
			</div>
		</div>
	</div>
</div>