
#gathers {
	margin-top: 20px;
}

#chatroom {
	margin-top: 20px;
}

.add-left {
	margin-left: 10px;
}

#chatmessages {
	max-height: 70%;
	min-height: 70%;
	overflow-y: scroll;
}

.signin {
	margin: 0px 10px;
}

.dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	vertical-align: middle;
	position:relative;
	display: inline-block;
}

.online {
	background: #0f0;
}