
#gathers {
	margin-top: 20px;
}

#chatroom {
	margin-top: 20px;
}

.add-left {
	margin-left: 10px;
}

#chatmessages {
	max-height: 70%;
	min-height: 70%;
	overflow-y: scroll;
}

.signin {
	margin: 0px 10px;
}

.user-online {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}