
#gathers {
	margin-top: 20px;
}

#chatroom {
	margin-top: 20px;
}

.add-left {
	margin-left: 10px;
}

#chatmessages {
	max-height: 70%;
	min-height: 70%;
	overflow-y: scroll;
}

.signin {
	margin: 0px 10px;
}

.gatherer-table {
	padding: 20px;
}